#nav-container {
    max-width: 2000px;
    background-color: #000000;
    position: sticky;
    margin:0 auto;
  }

#nav-container1, #nav-container2, #nav-container3 {
    display: flex;
    justify-content: center;
    font-size: 16px;
    line-height: 20px;
    font-weight: 400;
    padding: 10px 16px;


}


li.MuiMenuItem-root.MuiMenuItem-gutters.MuiButtonBase-root.menu-links:hover {
    text-decoration: underline #FFFFFF;
    color: #EBEBEB;
    
}

li.MuiMenuItem-root.MuiMenuItem-gutters.MuiButtonBase-root.menu-links-3:hover {
    background-color: #262626;
    border-radius: 35px;
}

#menu-icons {
    border: 1px solid #FFFFFF;
    border-radius: 35px;
    background-color: #FFFFFF;
}

#hamburger-icon {
    color: #000000;
    margin: 2%;
}

#logo {
    color: #FFFFFF;
}



/* mobile styles */

@media (max-width: 480px) {
    #nav-container1, #nav-container2, #nav-container3 {
        display: none;
    }

    
}